<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Weather Station Monitor</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
<h1 style="text-align:center;">Weather Station Monitor</h1>
<div class="container mt-5">
    <div class="row my-5">
        <div class="col">
            <div class="card">
                <h3 class="card-header" style="text-align:center;">Last Station Data</h3>
                <div class="card-body">
                    <p>Timestamp: <label th:text="${data.timestamp}">Unknown</label></p>
                    <p>StationID: <label th:text="${data.station}">Unknown</label></p>
                    <p>Wind: <label th:text="${data.wind}">Unknown</label></p>
                    <p>Temperature: <label th:text="${data.temperature}">Unknown</label></p>
                    <p>Light: <label th:text="${data.light}">Unknown</label></p>
                    <p>Humidity: <label th:text="${data.humidity}">Unknown</label></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="height:100%;">
                <h3 class="card-header" style="text-align:center;">Last Station State</h3>
                <div class="card-body">
                    <p>Timestamp: <label th:text="${state.timestamp}">Unknown</label></p>
                    <p>StationID: <label th:text="${state.station}">Unknown</label></p>
                    <p>Battery Level: <label th:text="${state.batteryLevel}">Unknown</label></p>
                    <p>Charging: <label th:text="${state.isCharging}">Unknown</label></p>
                    <p>EnergySaving: <label th:text="${state.energySaving}">Unknown</label></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card" style="height:100%;">
                <h3 class="card-header" style="text-align:center;">Mock Values</h3>
                <div class="card-body">
                    <p>Battery Level: <label th:text="${battery + '%'}">Unknown</label></p>
                    <p>Wind Sensor: <label th:text="${(wind != null ? wind + ' Km/h' : 'Unknown')}"/></p>
                    <p>Temperature Sensor: <label th:text="${(temperature != null ? temperature + ' °C' : 'Unknown')}"/></p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <h2 class="card-header" style="text-align:center;">Test Buttons</h2>
                <div class="card-body">
                    <div class="container">
                        <div class="row g-2">
                            <div class="col-6">
                                <a href="incwind"><button id="incwind" type="button" class="btn btn-primary w-100">Increase wind speed (+50km/h)</button></a>
                            </div>
                            <div class="col-6">
                                <a href="decwind"><button id="decwind" type="button" class="btn btn-danger w-100">Decrease wind speed (-50km/h)</button></a>
                            </div>
                            <div class="col-6">
                                <a href="inctemperature"><button id="inctemperature" type="button" class="btn btn-primary w-100">Increase temperature (+10°C)</button></a>
                            </div>
                            <div class="col-6">
                                <a href="dectemperature"><button id="dectemperature" type="button" class="btn btn-danger w-100">Decrease temperature (-10°C)</button></a>
                            </div>
                            <div class="col-6">
                                <a href="incbattery"><button id="incbattery" type="button" class="btn btn-primary w-100">Increase battery level (+10%)</button></a>
                            </div>
                            <div class="col-6">
                                <a href="decbattery"><button id="decbattery" type="button" class="btn btn-danger w-100">Decrease battery level (-10%)</button></a>
                            </div>
                            <div class="col-6" style="text-align:right;">
                                <a href="getdata"><button id="getdata" type="button" class="btn btn-success">Request data from server</button></a>
                            </div>
                            <div class="col-6">
                                <a href="getstate"><button id="getstate" type="button" class="btn btn-success">Request state from server</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-6">
            <h2 style="text-align:center;">DataServer Output</h2>
            <textarea class="form-control" placeholder="Output of server" id="textareaDS" style="height: 200px" th:text="${serverdata}" disabled readonly></textarea>
        </div>
        <div class="col-6">
            <h2 style="text-align:center;">MaintenanceServer Output</h2>
            <textarea class="form-control" placeholder="Output of server" id="textareaMS" style="height: 200px" th:text="${serverstate}" disabled readonly></textarea>
        </div>
    </div>
</div>

</body>
</html>