<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Weather Station Monitor</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
<h1 style="text-align:center;">Weather Station Monitor</h1>

<div>
    <h2 style="text-align:center;">Station battery and generators</h2>
    <h3 th:text="${'Battery Level: ' + station?.batteryLevel + '%'}">Battery Level: Unknown</h3>
    <h3 th:text="${'Generators Status: ' + (station?.isCharging ? 'open and charging the station' : 'closed cause extreme weather conditions') }">Generators Status: Unknown</h3>
</div>

<div class="form-floating">
    <textarea class="form-control" placeholder="Output of server" id="textarea" style="height: 100px"></textarea>
    <label for="textarea">Output</label>
</div>


<a href="incwind"><button type="button" class="btn btn-primary"> Increase wind speed </button></a><br>
<a href="decwind"> Decrease wind speed </a><br>
<a href="inctemperature"> Increase temperature </a><br>
<a href="dectemperature"> Decrease temperature </a><br>
<a href="incbattery"> Increase battery level </a><br>
<a href="decbattery"> Decrease battery level </a><br>

</body>
</html>